@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");

$inconsolata: "Inconsolata", monospace;
$rubik: "Rubik", sans-serif;
$montserrat: "Montserrat", sans-serif;
$primary-color: #b4e4ff;
$secondary-color: #3e54ac;

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, $primary-color, $secondary-color);
  padding: 40px;
  font-family: $montserrat;
}
.register-container {
  min-height: calc(100vh - 40px * 2);
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 10px;
  overflow: hidden;
}
.register-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px 60px 50px;
  background-color: white;
}
.register-right {
  background-color: #eee;
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    object-fit: cover;
    filter: brightness(1);
  }
}
.register-header {
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;

  .improvement {
    font-weight: normal;
    margin: 0;
    font-family: $inconsolata;
    font-size: 60px;
  }
  .center {
    font-weight: normal;
    margin: 0;
    margin-bottom: 35px;
    font-family: $inconsolata;
    font-size: 60px;
  }
  p {
    opacity: 0.7;
  }
}
.register-form {
  width: 450px;
}
.checkboxLabel,
#rememberMeCheckbox {
  cursor: pointer;
}
.form-item label:not(.checkboxLabel) {
  display: inline-block;
  background-color: white;
  margin-bottom: 10px;
  position: absolute;
  padding: 0 10px;
  transform: translate(30px, -10px);
  font-size: 14px;
}
.form-item {
  width: 80%;
}
input[type="text"],
input[type="password"] {
  border: 1px solid gray;
  height: 55px;
  padding: 0 26px;
  width: 100%;
  transition: background 0.5s;
  font-size: 17px;
  border-radius: 100px;
  letter-spacing: 0.7px;
  // transition: border 0.1s linear;
  // transition: padding 0.1s linear;
  &:hover {
    padding: 0 25px;
    border: 2px solid gray;
  }
}
input[type="password"] {
  letter-spacing: 3px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: #b4e4ff;
}
input[type="checkbox"]:checked {
  // background-color: $primary-color;
  color: red;
  transition: background-color 0.3s ease-in-out;
}
.register-form-content {
  display: flex;
  gap: 35px;
  flex-direction: column;
  // width: 80%;
  align-items: center;
}
.buttons {
  position: relative;
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.submit-btn {
  font-family: $montserrat;
  position: relative;
  background-image: linear-gradient(45deg, $primary-color, $secondary-color);
  z-index: 1;
  border: 1px solid gray;
  color: white;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  font-size: 18px;
  height: 55px;
  cursor: pointer;
  width: 40%;
  margin-top: 35px;
  &::before {
    border-radius: 100px;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(20deg, darkgray, $secondary-color);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
  &:hover::before {
    opacity: 1;
  }
}
.create-account-btn {
  display: flex;
  align-items: center;
  font-family: $montserrat;
  position: relative;
  background-image: linear-gradient(45deg, $primary-color, $secondary-color);
  z-index: 1;
  border: 1px solid gray;
  color: white;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  font-size: 18px;
  height: 55px;
  cursor: pointer;
  width: 40%;
  margin-top: 35px;
  &::before {
    border-radius: 100px;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(20deg, darkgray, $secondary-color);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
  &:hover::before {
    opacity: 1;
  }
}

.create-account-href {
  text-decoration: none;
  color: white;
}
.line {
  position: absolute;
  border: 0.5px solid gray;
  height: 0px;
  bottom: 25px;
  width: 300%;
}
.password {
  position: relative;
}
.checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
  position: absolute;
  top: 80px;
}
@media (max-width: 791px) {
  .register-container {
    grid-template-columns: 100% 0%;
  }
  .register-right {
    display: none;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
  }
  .register-form-content {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 438px) {
  body {
    padding: 0;
    background: white;
  }
}
